@model IEnumerable<ProjectManagementWeb.Models.QuyenTruyCap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DuAnID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguoiDungID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapQuyen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DuAnID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDungID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapQuyen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuyenTruyCapID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuyenTruyCapID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuyenTruyCapID })
        </td>
    </tr>
}

</table>
